@import url("https://fonts.googleapis.com/css2?family=Charmonman&family=Jost:wght@300;400;500&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Charmonman", cursive;
  font-family: "Jost", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: var(--bgColor);
}

:root {
  --primary: #f52225;
  --green: #1cbe59;
  --purple: #8067f0;
  --orange: #f75023;
  --heading: #0f172a;
  --text: #555264;
  --bgColor: #f6f6f6;
  --jostFont: "Jost", sans-serif;
}
