@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--bgColor);
}

:root {
  --primary: #f52225;
  --green: #1cbe59;
  --purple: #8067f0;
  --orange: #f75023;
  --heading: #0f172a;
  --text: #555264;
  --bgColor: #f4f4f4;
  --jostFont: "Jost", sans-serif;
}
